<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>Actualizar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <!-- Icono de NAVBAR -->
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>                  
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Salir</a>
              </li>        
            </ul>            
          </div>
        </div>
      </nav>
      <% if (user) { %>
      <div class="container mt-4">          
          <div class="card border-secondary">  
                <div class="card-header">Editar Registro</div>
                <div class="card-body">
                    <form action="/update" method="POST">
                         <input id="id" name="id" value="<%= user.id %>" hidden>
                        <div class="mb-3">
                          <label for="user" class="form-label">Usuario</label>
                          <input type="text" class="form-control" id="user" name="user" tabindex="1" value="<%= user.user  %>">                        
                        </div>   
                        <div class="mb-3">
                          <label for="user" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" id="password" name="password" tabindex="2" value="<%= user.password  %>">                        
                        </div>   
                        <div class="mb-3">
                          
                          <label for="rol" class="form-label">Rol</label>
                          <select id="rol" name="rol" class="form-select" tabindex="3">
                            <option <%= user.rol=='admin' ? "selected" : '' %> value="admin">Administrador</option>
                            <option <%= user.rol=='data entry' ? "selected" : '' %> value="supervisor">Supervisor</option>                            
                          </select>
                        </div>                                                              
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>      
                </div>
            </div>     
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>